body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
}

.custom-popup .leaflet-popup-content-wrapper, .custom-popup .leaflet-popup-tip {
    background: #0078a8; /*#3388ff*/
}

.custom-popup .leaflet-popup-content {
    color: #fff;
    font-size: 15px;
    font-family: "Microsoft YaHei", sans-serif;
    text-shadow: 1px 1px #222;
}

.mywindow {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999;
    width: 320px;
    float: right;
}

.mybodyitem {
    margin: 10px 0px;
}

.mybodyitem > div {
    margin: 7px 0;
}

.panel-body {
    padding: 0px 15px;
}

#pm25_com, #valid-select, #AB-select, #capps-select {
    padding: 5px 0px;
}

#date-fcst {
    display: none;
}
