* {
  font-family: "Microsoft YaHei",SimHei,Arial!important;
}
#ui-datepicker-div {
  z-index: 9999 !important;
}
#mapContainer {
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  z-index: 0;
}
#firstPageContent {
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  z-index: 0;
  background-image: url(images/window-sunshine2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background: url(background-photo.jpg) center center cover no-repeat fixed;*/
}
/*@media only screen and (max-width: 767px) {
  #firstPageContent {
    background-image: url(background-photo-mobile-devices.jpg);
  }
}*/
#firstPageCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1;
  background-color: rgba(237,109,0,0.2);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-shadow: 0 0 0 white;
}
#go {
  background-color: inherit;
  border-width: 2px;
  border-color: white;
  color: inherit;
  text-shadow: inherit;
  overflow: visible;
}
a.myinfo {
  /*font-size: 62%;*/
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 0 white;
  color: white!important;
  background-color: #38c;/*rgba(237,109,0,0.62);*/
  border-radius: 2px;
}
a#tohome {
  text-decoration: none;
  color: black!important;
}
div[data-role="popup"] {
  max-width: 300px;
}
.center {
  text-align: center;
}
h3.faq a {
  color: rgb(237,109,0)!important;
}
.himap {
  width: 100%;
  height: 400px;
}