<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!--[if lte IE 8]><script>alert('抱歉，不支持 IE8 及其以下版本浏览器。');</script><![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>CN 160 Stations</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="static/css/custom.css">
</head>

<body>

<!--主页-->
<div data-role="page" id="pagemain">
  <div data-role="header" data-theme="b">
    <h1>CN 160 Stations</h1>
  </div><!-- header -->

  <!-- the_alert -->
  <a href="#the_alert" id="alert" data-rel="popup" data-transition="pop" data-position-to="window" hidden style="display:none;">提示</a>
  <div data-role="popup" id="the_alert" data-overlay-theme="b" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
    <h3 id="the_alert_title">标题</h3>
    <p id="the_alert_body">内容</p>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-alt-icon ui-nodisc-icon ui-icon-delete ui-btn-icon-notext ui-btn-right" data-rel="back">确定</a>
  </div><!-- EOF the_alert -->

  <div data-role="content">

    <form class="form-main">

      <div class="ui-field-contain">
        <label for="ele">要素</label>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" date-inline="true" id="ele">
          <input type="radio" name="ele-radio" id="ele-radio-c" value="t" checked="checked">
          <label for="ele-radio-c">气温</label>
          <input type="radio" name="ele-radio" id="ele-radio-d" value="r">
          <label for="ele-radio-d">降水</label>
        </fieldset>
      </div>

      <div class="ui-field-contain">
        <label for="output">数值</label>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" date-inline="true" id="output">
          <input type="radio" name="output-radio" id="output-radio-c" value="raw" checked="checked">
          <label for="output-radio-c">原始</label>
          <input type="radio" name="output-radio" id="output-radio-d" value="abnorm">
          <label for="output-radio-d">距平</label>
          <input type="radio" name="output-radio" id="output-radio-e" value="abnorm-percent">
          <label for="output-radio-e">距平百分率(%)</label>
        </fieldset>
      </div>

      <div class="ui-field-contain">
        <label for="chartmap">图型</label>
        <!--info-->
        <div data-role="popup" id="chartmap_info" data-overlay-theme="b" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
          <h3>如何设定图型？</h3>
          <ul>
            <li><b>『移动设备』</b>请长按标签切换选项</li>
            <li><b>『电脑浏览器』</b>单击切换选项</li>
          </ul>
          <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-alt-icon ui-nodisc-icon ui-icon-delete ui-btn-icon-notext ui-btn-right" data-rel="back">确定</a>
        </div><!--info-->
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" date-inline="true" id="chartmap">
          <input type="radio" name="chartmap-radio" id="chartmap-radio-c" value="line" checked="checked">
          <label for="chartmap-radio-c">曲线图</label>
          <input type="radio" name="chartmap-radio" id="chartmap-radio-d" value="map">
          <label for="chartmap-radio-d">分布图</label>
        </fieldset>
      </div>

      <div class="ui-field-contain" id="div-yearsmean" style="display:none;">
        <label for="yearsmean">单年或多年合成 <a href="#yearsmean_info" class="myinfo" data-rel="popup" data-transition="pop" data-position-to="window">？</a></label>
        <!--info-->
        <div data-role="popup" id="yearsmean_info" data-overlay-theme="b" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
          <h3>如何设定要合成的年份？</h3>
          <ul>
            <li><b>『某年』</b>直接输入年份，如2014</li>
            <li><b>『合成分析』</b>年份用空格分开，如1951 1964 1972</li>
          </ul>
          <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-alt-icon ui-nodisc-icon ui-icon-delete ui-btn-icon-notext ui-btn-right" data-rel="back">确定</a>
        </div><!--info-->
        <input type="text" name="yearsmean" id="yearsmean" placeholder="年份用空格分开，如1951 1964 1972">
      </div>

      <div class="ui-field-contain" id="div-stationsmean">
        <label for="stationsmean">单站或多站平均 <a href="#stationsmean_info" class="myinfo" data-rel="popup" data-transition="pop" data-position-to="window">？</a></label>
        <!--info-->
        <div data-role="popup" id="stationsmean_info" data-overlay-theme="b" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
          <h3>如何设定站点？</h3>
          <ul>
            <li><b>『某站』</b>直接输入站号，如54511</li>
            <li><b>『多站平均』</b>站号用空格分开，如54511 54527 53698</li>
          </ul>
          <p><small><em>数据来源：</em><a href="http://www.ncc-cma.net/Website/index.php?ChannelID=43&WCHID=5">国家气候中心</a></small></p>
          <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-alt-icon ui-nodisc-icon ui-icon-delete ui-btn-icon-notext ui-btn-right" data-rel="back">确定</a>
        </div><!--info-->
        <input type="text" name="stationsmean" id="stationsmean" placeholder="站号用空格分开，如54511 54527 53698">
      </div>

      <div class="ui-field-contain">
        <label for="period">月季年 <a href="#period_info" class="myinfo" data-rel="popup" data-transition="pop" data-position-to="window">？</a></label>
        <!--info-->
        <div data-role="popup" id="period_info" data-overlay-theme="b" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
          <h3>如何设定月份、季节或全年？</h3>
          <ul>
            <li><b>『1-12』</b>代表1-12月</li>
            <li><b>『0』</b>代表全年</li>
            <li><b>『-4、-3、-2、-1』</b>分别代表冬、春、夏、秋季</li>
          </ul>
          <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-alt-icon ui-nodisc-icon ui-icon-delete ui-btn-icon-notext ui-btn-right" data-rel="back">确定</a>
        </div><!--info-->
        <input type="range" name="period" id="period" data-highlight="true" value="1" min="-4" max="12" step="1">
      </div>

      <div class="ui-field-contain">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
            <input type="reset" data-icon="delete" id="reset" value="重置">
          </div>
          <div class="ui-block-b">
            <!-- <input type="submit" data-icon="check" id="submit" value="提交"> -->
            <a href="#" id="submit" class="ui-btn ui-btn-b ui-icon-check ui-btn-icon-left ui-corner-all ui-shadow">确定</a>
          </div>
        </fieldset>
      </div>

    </form><!-- EOF form -->

    <div id="result"></div>

    <div id="information">
      <p><em>数据来源：</em><a href="http://www.ncc-cma.net/Website/index.php?ChannelID=43&WCHID=5">国家气候中心</a></p>
    </div>

  </div>

  <div data-role="footer" data-theme="b" data-position="fixed">
    <h1>
      <small>
        Copyright&nbsp;<span id="theyear"></span>&nbsp;北京天气恩索风险管理咨询有限公司
      </small>
    </h1>
  </div><!-- footer -->


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  // 如果报错，页面显示不出来，在加载jquery.mobile.js之前添加如下代码
  $(document).bind('mobileinit',function(){
    $.mobile.pushStateEnabled = false;
  });
</script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<!-- <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="static/js/exporting.js"></script> -->

<script>$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};</script>
<script src="static/js/main.js"></script>

</div><!-- EOF 主页 -->
</body>
</html>
